/* line 17, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.scss */
body {
  max-width: 676px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 1.8em;
}

/* line 12, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #111111;
}
/* line 16, ../sass/screen.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #111111;
  text-decoration: none;
}

/* line 22, ../sass/screen.scss */
header.banner {
  height: 6em;
  text-align: center;
  margin: 1em 0;
}
/* line 27, ../sass/screen.scss */
header.banner h1 {
  display: block;
  position: relative;
  margin: 0;
  padding-top: 0.3em;
  font-size: 3.5em;
  text-transform: uppercase;
}
/* line 36, ../sass/screen.scss */
header.banner .social {
  position: relative;
  font-size: 1.1em;
  bottom: 0;
  padding: 1.2em;
}

/* line 44, ../sass/screen.scss */
article.post {
  margin-bottom: 4em;
}
/* line 45, ../sass/screen.scss */
article.post header {
  margin-bottom: 1em;
  text-align: center;
}
/* line 46, ../sass/screen.scss */
article.post header h1 {
  font-size: 1.5em;
}
/* line 54, ../sass/screen.scss */
article.post p {
  margin: 1.1em 0;
  font-size: 1.2em;
  line-height: 2em;
}
/* line 59, ../sass/screen.scss */
article.post p.meta {
  margin: 0;
}
/* line 64, ../sass/screen.scss */
article.post footer {
  margin-top: 1em;
}

/* line 71, ../sass/screen.scss */
p.meta {
  margin: 0;
  color: #666666;
}

/* line 76, ../sass/screen.scss */
footer {
  text-align: center;
}
